/* ============================================== */
/* ---------------- google fonts ------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ============================================== */
/* -------------------- reset -------------- */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* width: 1600px;
    margin: 0 auto; */
    min-height: 100vh;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}


/* ============================================== */
/* ----------------- variables -------------- */

:root{
    /* ------ colors ------ */
    --primary-color:#212529;
    --secondary-color:#e81f3e;
    --white: #fff;
    --light:#E8E8E8;
    --gray:#B9B9B9;

    /* -------- fonts ------ */
    --px70: 4.375rem;
    --px40: 2.5rem;
    --px20: 1.25rem;
    --px18: 1.125;
}

/* ============================================== */
/* ----------------- common part / utilities -------------- */


.top_banner_container,.navbar_blog_container,.footer_area{
    width: 1321px;
    margin: 0 auto;
}
/*---- buttons ---  */
.btn{
    width: 187px;
    height: 56px;
    border-radius: 5px;
    font-weight: 400;
    font-size: var(--px20);
    border: none;
    background-color:var(--secondary-color);
    color:var(--white);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.btn:hover{
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

/* ========================================================= */
/* ----------------- top banner section start-------------- */

.top_banner_area {
    width: 1321px;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 30px;
    margin-top: 50px;
}

.top_banner_text {
    padding: 111px 0 111px 106px;
}

.banner_title {
    font-size: var(--px70);
    line-height: 80px;
}

.banner_text {
    margin: 13px 0 30px;
}


.watch_live i {
    margin-left: 5px;
}

.top_banner_img {
    text-align: center;
}

/*================  top banner area end ================*/

/* ========================================================= */
/* ----------------- navbar-blog area start-------------- */

.navbar_blog_container {
    padding: 130px 0;
}
/* ----- navbar start ----- */
.nav_box {
    width: 312px;
    height: 312px;
    background: var(--primary-color);
    border-radius: 10px;
    padding: 30px;
}
.nav_box ul {
    display: grid;
    grid-row-gap: 30px;
}
.nav_box ul li {
    background: var(--white);
    border-radius: 10px;
    width: 252px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.nav_box ul li a {
    color: var(--primary-color);
    font-weight: 500;
    font-size: var(--px20);
    transition: all .3s ease-in-out;
}
.nav_box ul li:active{
    background: var(--secondary-color);
}
.nav_box ul li:hover a{
    color:var(--white);
}
.nav_box ul li:hover{
    background: var(--secondary-color);
}
/* ------ navbar end --------*/
/* ------ blog-card start --------*/
.nav_blog_area {
    display: flex;
    gap: 24px;
}

aside.blog_area {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
}

.blog_card {
    width: 312px;
    height: 362px;
    border-radius: 10px;
    border: 1px solid var(--light);
}
.card_img img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.transfer_brn {
    width: 100px;
    height: 32px;
    border: 1px solid var(--primary-color);
    background: transparent;
    border-radius: 5px;
    font-weight: 500;
    margin: 15px 0 10px;
}

.card_text_box,.card_footer {
    padding: 0 20px;
}

.card_title {
    font-weight: 600;
    font-size: var(--px18);
}

.card_footer {
    margin: 15px 0 10px;
    color: rgba(22, 22, 22, 0.7);;
}

.card_footer span {
    margin-right: 30px;
}

.card_footer i {
    margin-right: 10px;
}

/* ------ blog-card start --------*/

/* =============== navbar-blog area end ================ */

/* ======================================================= */
/* --------------- footer area start ------------------ */
footer.footer_container {
    background: #000;
    color: #fff;
    text-align: center;
}
.footer_area h2 {
    font-size: var(--px40);
    font-weight: 600;
    padding-top: 130px;
}
hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px 0;
}
.footer_items ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.footer_items ul li a{
  color: var(--gray);
  font-weight: 500;
  transition: .3s;
}
.footer_items ul li a:hover{
  color: var(--secondary-color);
}

/* --- social media --- */
section.social_media {
    padding: 50px 0 130px;
    font-size: var(--px40);
}
section.social_media i {
    margin: 0 3px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
section.social_media i:hover{
    color: var(--secondary-color);
}
/* =============== footer area end ================ */